In [2]:
import lightgbm as lgb
import pandas as pd
from m5_sb_models import *

In [3]:
INPUT_DIR = 'kaggle/input/linking-writing-processes-to-writing-quality'
FEAT_STORE_DIR = 'feat_store_combined'
train_logs = pd.read_csv(f'{INPUT_DIR}/train_logs.csv')
train_scores = pd.read_csv(f'{INPUT_DIR}/train_scores.csv')
test_logs = pd.read_csv(f'{INPUT_DIR}/test_logs.csv')
ss_df = pd.read_csv(f'{INPUT_DIR}/sample_submission.csv')

# logs = pd.concat([train_logs, test_logs], axis=0)

In [4]:
import polars as pl
data_path     = 'kaggle/input/linking-writing-processes-to-writing-quality/'
train_logs    = pl.scan_csv(f'{data_path}/train_logs.csv')
test_logs    = pl.scan_csv(f'{data_path}/test_logs.csv')
train_scores = pl.scan_csv(f'{data_path}/train_scores.csv')

In [17]:
from joblib import Parallel, delayed
from m4_feats_polars import create_integrated_iki

def calculate_fluctuations(iki_integrated, q, bin_sizes):
    Fq = np.zeros(len(bin_sizes))
    for i, s in enumerate(bin_sizes):
        segments = int(np.floor(len(iki_integrated) / s))
        rms = np.zeros(segments)
        for v in range(segments):
            segment = iki_integrated[v * s: (v + 1) * s]
            trend = np.polyfit(np.arange(s), segment, 1)  # linear fit (trend)
            detrended = segment - np.polyval(trend, np.arange(s))
            rms[v] = np.sqrt(np.mean(detrended ** 2))
        Fq[i] = (np.mean(rms ** q)) ** (1 / q) if q != 0 else np.exp(0.5 * np.mean(np.log(rms ** 2)))
    return Fq

def mfdfla_for_series(series, q_values, bin_sizes):
    results = []
    for q in q_values:
        Fq_values = calculate_fluctuations(series, q, bin_sizes)
        results.extend(Fq_values)
    return results

def process_group(series, q_values, bin_sizes):
    return mfdfla_for_series(series, q_values, bin_sizes)

def calculate_selected_fluctuations_parallel(iki_integrated_df, q_values, bin_sizes, n_jobs=-1):
    grouped = iki_integrated_df.groupby('id')['iki_integrated']
    results = Parallel(n_jobs=n_jobs)(delayed(process_group)(group, q_values, bin_sizes) for name, group in grouped)
    feats = pd.DataFrame(results, index=[name for name, group in grouped])
    feats.reset_index(inplace=True)
    columns = ['id'] + [f'Fq_q{q}_bin{s}' for q in q_values for s in bin_sizes]
    feats.columns = columns
    return feats

def fractal_stats(train_logs, test_logs):

    feats = []
    q_values = np.linspace(-15, 15, 2)
    bin_sizes = [1500, 2500, 3500]
    for data in [train_logs, test_logs]:
        
        logs = data.clone()
        iki_df = create_integrated_iki(logs)
        iki_df = iki_df.collect().to_pandas()
        stats = calculate_selected_fluctuations_parallel(iki_df, q_values, bin_sizes)
        stats = pl.DataFrame(stats).lazy()
        feats.append(stats)

    return feats[0], feats[1]

tr_fractal, ts_fractal = fractal_stats(train_logs, test_logs)

# q_values = np.linspace(-3, 3, 2)
# bin_sizes = [1500, 2500, 3500]
# features_df = calculate_selected_fluctuations_parallel(iki_int_df, q_values, bin_sizes)

In [18]:
tr_fractal

shape: (2_471, 7)
┌──────────┬──────────────┬──────────────┬──────────────┬──────────────┬─────────────┬─────────────┐
│ id       ┆ Fq_q-15.0_bi ┆ Fq_q-15.0_bi ┆ Fq_q-15.0_bi ┆ Fq_q15.0_bin ┆ Fq_q15.0_bi ┆ Fq_q15.0_bi │
│ ---      ┆ n1500        ┆ n2500        ┆ n3500        ┆ 1500         ┆ n2500       ┆ n3500       │
│ str      ┆ ---          ┆ ---          ┆ ---          ┆ ---          ┆ ---         ┆ ---         │
│          ┆ f64          ┆ f64          ┆ f64          ┆ f64          ┆ f64         ┆ f64         │
╞══════════╪══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪═════════════╡
│ 001519c8 ┆ 2371.194498  ┆ 3619.861541  ┆ null         ┆ 2371.194498  ┆ 3619.861541 ┆ null        │
│ 0022f953 ┆ 2444.066993  ┆ null         ┆ null         ┆ 2444.066993  ┆ null        ┆ null        │
│ 0042269b ┆ 822.664906   ┆ 1371.634325  ┆ 1240.877343  ┆ 1308.457045  ┆ 1371.634325 ┆ 1240.877343 │
│ 0059420b ┆ 891.057572   ┆ null         ┆ null         ┆ 891.057572   ┆ null        ┆ null        │
│ …        ┆ …            ┆ …            ┆ …            ┆ …            ┆ …           ┆ …           │
│ ffbef7e5 ┆ 585.181922   ┆ 1118.474279  ┆ null         ┆ 585.181922   ┆ 1118.474279 ┆ null        │
│ ffccd6fd ┆ 1752.620021  ┆ 7471.834355  ┆ null         ┆ 2443.335081  ┆ 7471.834355 ┆ null        │
│ ffec5b38 ┆ 981.046177   ┆ 1985.99204   ┆ null         ┆ 1039.31544   ┆ 1985.99204  ┆ null        │
│ fff05981 ┆ 912.400082   ┆ 1856.684777  ┆ 1705.51994   ┆ 1694.398829  ┆ 1856.684777 ┆ 1705.51994  │
└──────────┴──────────────┴──────────────┴──────────────┴──────────────┴─────────────┴─────────────┘

In [21]:
from m3_model_params import lgb_params_1
train_feats = tr_fractal.to_pandas().merge(train_scores.collect().to_pandas(), on='id', how='left')
test_preds, oof_preds, rmse, model = lgb_pipeline(train_feats, train_feats.drop(columns='score'), lgb_params_1)

/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(
/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(
/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(
/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(

In [4]:
import polars as pl

def integrated_iki(train_logs, test_logs):

    feats = []
    for data in [train_logs, test_logs]:
        logs = data[['id', 'action_time']].clone()
        logs = logs.group_by('id').pl.diff(pl.col('action_time')).alias('iki')


    logs = train_logs.copy()
    logs['iki'] = logs.groupby('id')['action_time'].diff().fillna(0)
    action_time_mean = logs.groupby('id')['action_time'].mean().reset_index()
    action_time_mean.columns = ['id', 'action_time_mean']
    logs = logs.merge(action_time_mean, on='id', how='left')
    logs['mean_centering'] = logs['iki'] - logs['action_time_mean']
    logs['iki_integrated'] = logs.groupby('id')['mean_centering'].cumsum()
    iki_int_df = logs[['id', 'iki_integrated']]

In [5]:
added_feats_list = ['train_down_events_counts.pkl',
 'train_vector_one_gram.pkl',
 'train_create_pauses.pkl',
 'train_essay_paragraphs.pkl',
 'train_down_events_counts.pkl',
 'train_vector_one_gram.pkl',
 'train_create_pauses.pkl',
 'train_essay_paragraphs.pkl',
 'train_down_events_counts.pkl',
 'train_vector_one_gram.pkl',
 'train_create_pauses.pkl',
 'train_essay_paragraphs.pkl',
 'train_cursor_pos_acceleration.pkl',
 'train_count_of_activities.pkl',
 'train_down_events_counts.pkl',
 'train_vector_one_gram.pkl',
 'train_create_pauses.pkl',
 'train_essay_paragraphs.pkl',
 'train_events_counts_acceleration.pkl',
 'train_essay_sentences.pkl',
 'train_word_counts_rate_of_change.pkl',
 'train_down_events_counts.pkl',
 'train_vector_one_gram.pkl',
 'train_create_pauses.pkl',
 'train_essay_paragraphs.pkl',
 'train_cursor_pos_acceleration.pkl',
 'train_essay_sentences.pkl',
 'train_categorical_nunique.pkl',
 'train_down_events_counts.pkl',
 'train_vector_one_gram.pkl',
 'train_create_pauses.pkl',
 'train_essay_paragraphs.pkl',
 'train_r_burst_feats.pkl']

In [6]:
counts = {}
for item in added_feats_list:
    counts[item] = counts.get(item, 0) + 1

In [32]:
import pandas as pd
import numpy as np
from joblib import Parallel, delayed

def calculate_fluctuations(iki_integrated, q, bin_sizes):
    Fq = np.zeros(len(bin_sizes))
    for i, s in enumerate(bin_sizes):
        segments = int(np.floor(len(iki_integrated) / s))
        rms = np.zeros(segments)
        for v in range(segments):
            segment = iki_integrated[v * s: (v + 1) * s]
            trend = np.polyfit(np.arange(s), segment, 1)  # linear fit (trend)
            detrended = segment - np.polyval(trend, np.arange(s))
            rms[v] = np.sqrt(np.mean(detrended ** 2))
        Fq[i] = (np.mean(rms ** q)) ** (1 / q) if q != 0 else np.exp(0.5 * np.mean(np.log(rms ** 2)))
    return Fq

def mfdfla_for_series(series, q_values, bin_sizes):
    results = []
    for q in q_values:
        Fq_values = calculate_fluctuations(series, q, bin_sizes)
        results.extend(Fq_values)
    return results

def process_group(series, q_values, bin_sizes):
    return mfdfla_for_series(series, q_values, bin_sizes)

def calculate_selected_fluctuations_parallel(df, q_values, bin_sizes, n_jobs=-1):
    grouped = df.groupby('id')['iki_integrated']
    results = Parallel(n_jobs=n_jobs)(delayed(process_group)(group, q_values, bin_sizes) for name, group in grouped)
    feats = pd.DataFrame(results, index=[name for name, group in grouped])
    feats.reset_index(inplace=True)
    columns = ['id'] + [f'Fq_q{q}_bin{s}' for q in q_values for s in bin_sizes]
    feats.columns = columns
    return feats

q_values = np.linspace(-3, 3, 2)
bin_sizes = [1500, 2500, 3500]
features_df = calculate_selected_fluctuations_parallel(iki_int_df, q_values, bin_sizes)

# Example usage
# Define your q_values and bin_sizes
q_values = np.linspace(-9, 9, 6)
bin_sizes = [1000, 1500, 2000]

# Assuming 'iki_int_df' is your DataFrame and it has columns 'id' and 'iki_integrated'
features_df = calculate_selected_fluctuations_parallel(iki_int_df, q_values, bin_sizes)

In [65]:
q_values = np.linspace(-15, 15, 3)
bin_sizes = [1500, 2500, 3500]
features_df = calculate_selected_fluctuations_parallel(iki_int_df, q_values, bin_sizes)

from m3_model_params import lgb_params_1
train_feats = features_df.merge(train_scores, on='id', how='left')
test_preds, oof_preds, rmse, model = lgb_pipeline(train_feats, train_feats.drop(columns='score'), lgb_params_1)

/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(
/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(
/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(
/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(
/root/miniconda3/envs/lrp/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(

Final RMSE over 50: 0.836485. Std 0.7275
RMSE by fold 0.836355. Std 0.0150

In [41]:
Final RMSE over 50: 0.834386. Std 0.7259
RMSE by fold 0.834233. Std 0.0163 15

,id,Fq_q-3.0_bin1000,Fq_q-3.0_bin2000,Fq_q-3.0_bin3000,Fq_q-1.8_bin1000,Fq_q-1.8_bin2000,Fq_q-1.8_bin3000,Fq_q-0.6000000000000001_bin1000,Fq_q-0.6000000000000001_bin2000,Fq_q-0.6000000000000001_bin3000,Fq_q0.5999999999999996_bin1000,Fq_q0.5999999999999996_bin2000,Fq_q0.5999999999999996_bin3000,Fq_q1.7999999999999998_bin1000,Fq_q1.7999999999999998_bin2000,Fq_q1.7999999999999998_bin3000,Fq_q3.0_bin1000,Fq_q3.0_bin2000,Fq_q3.0_bin3000
0,001519c8,56.355006,78.499737,NaN,60.021458,78.499737,NaN,65.172197,78.499737,NaN,71.394955,78.499737,NaN,77.521710,78.499737,NaN,82.565266,78.499737,NaN
1,0022f953,39.595725,42.279434,NaN,40.029338,42.279434,NaN,40.485763,42.279434,NaN,40.953782,42.279434,NaN,41.420748,42.279434,NaN,41.874347,42.279434,NaN
2,0042269b,70.571049,80.042540,86.381326,72.710149,80.341087,86.381326,75.208774,80.644832,86.381326,77.961219,80.951113,86.381326,80.788767,81.257164,86.381326,83.500128,81.560242,86.381326
3,0059420b,115.246057,NaN,NaN,115.246057,NaN,NaN,115.246057,NaN,NaN,115.246057,NaN,NaN,115.246057,NaN,NaN,115.246057,NaN,NaN
4,0075873a,54.783656,58.847735,NaN,55.590619,58.847735,NaN,56.455582,58.847735,NaN,57.350663,58.847735,NaN,58.243012,58.847735,NaN,59.100931,58.847735,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2466,ffb8c745,39.814903,46.825043,37.037430,41.699878,49.640161,37.037430,45.234280,53.479750,37.037430,51.655668,58.032470,37.037430,60.951541,62.521191,37.037430,70.463091,66.279960,37.037430
2467,ffbef7e5,28.652337,28.708405,NaN,28.658734,28.708405,NaN,28.665139,28.708405,NaN,28.671546,28.708405,NaN,28.677953,28.708405,NaN,28.684356,28.708405,NaN
2468,ffccd6fd,44.422517,49.953910,61.228789,47.855130,49.953910,61.228789,52.018380,49.953910,61.228789,56.291833,49.953910,61.228789,60.011971,49.953910,61.228789,62.923722,49.953910,61.228789
2469,ffec5b38,50.571851,52.146483,55.118354,51.727472,52.146483,55.118354,52.879708,52.146483,55.118354,53.967910,52.146483,55.118354,54.946535,52.146483,55.118354,55.792777,52.146483,55.118354
2470,fff05981,54.893260,68.925373,67.015161,57.352812,68.925373,67.015161,60.213694,68.925373,67.015161,63.286774,68.925373,67.015161,66.309239,68.925373,67.015161,69.060386,68.925373,67.015161

In [ ]:
train_feats = pd.read_pickle('feature_selection/test_feats.pkl')
test_feats = pd.read_pickle('feature_selection/test_feats.pkl')